[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
EnvironmentFile=/home/ubuntu/opt/jenkins/workspace/django-app_dev/Mon-Backend/.env
WorkingDirectory=/home/ubuntu/opt/jenkins/workspace/django-app_dev/Mon-Backend
ExecStart=/home/ubuntu/opt/jenkins/workspace/django-app_dev/Mon-Backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          bba.wsgi:application

[Install]
WantedBy=multi-user.target



